<!DOCTYPE html>
<html lang="en">
<body>
<div id="sidebar">
    <div class="sidebar-header">

    </div>

    <ul class="list-unstyled components mt-0">
        <li class="active mt-5">
            <a href="home.html">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="Jobs.html">
                <i class="fas fa-briefcase"></i> Jobs
            </a>
        </li>
        <li>
            <a href="scholarships.html">
                <i class="fas fa-graduation-cap"></i> Scholarships
            </a>
        </li>
        <li>
            <a href="#profile">
                <i class="fa fa-user" aria-hidden="true"></i> Profile
            </a>
        </li>
        <li>
            <a href="#logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
    </ul>
</div>

</body>
</html>