body {
    background: #f8f9fa;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    height: 170vh;
    min-width: 250px;
    max-width: 250px;
    background:  #4723D9; 
    color: #ffffff; 
    transition: all 0.3s;
    font-family: 'Nunito', sans-serif; 
    font-size: 1rem;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar a {
    color: #ffffff;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#sidebar a:hover {
    color: white;
}
#sidebar i {
    margin-right: 30px; 
    margin-left: 5px;
}

#sidebar ul {
    padding: 20px;
    list-style-type: none;
}

#sidebar ul li {
    padding: 10px;
    font-size: 1rem;
     margin-bottom: 5px; 
}

#sidebar ul li:hover {
    background-color: #684add;  /* Hover background color */
}

#content {
    width: 100%;
    padding: 15px;
}

#sidebarCollapse {
    background-color:  #4723D9; 
    border: none;
}

#sidebarCollapse:hover {
    background-color: #4723D9; 
}

.components {
    padding: 20px;
}

#sidebar ul {
    padding: 20px;
    list-style-type: none;
}

#sidebar ul a {
    text-decoration: none;
    
}

#sidebar ul li {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 5px; 
}
#sidebar ul li a {
    
    margin-bottom: 5px;
     transition: color 0.3s;
}
#sidebar ul li:hover a {
    color: #ffffff;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
